/* Intro Section */
.Intro{
    height: 200px; background-color: cornflowerblue;
}
.IntroButton{
    margin-left: 10px;
    color: white;
    background-color:mediumblue;
    height: 30px;
}
/* Bookign Section*/
.Booking{
    padding-top: 10px;
    align-items: self-start;
}
.BookingDiv{
    width: auto;
    height: auto;
    background-color: skyblue;
    position: relative;
    align-items: normal;
    display: flex;
}
.InfoBooking{

    height: 100%;
    position: inherit;
}
.MapDiv{
    width: 75%;
    height: 100%;
    position: inherit;
    margin: auto;
}
/*Canvas*/
.BookingMap{
    width: 100%;
    height: 100%; 
    background-color:forestgreen;
    margin: auto;
    
}
/* */